name: CI/CD with Docker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build Docker Image
      run: |
        docker build -t nestjs-auth-app .

    - name: Deploy Docker Image to Server
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        script: |
          docker stop nestjs-auth || true
          docker rm nestjs-auth || true
          docker pull your-dockerhub-user/nestjs-auth-app:latest
          docker run -d --name nestjs-auth -p 3000:3000 your-dockerhub-user/nestjs-auth-app:latest
